{% extends "global/partials/headbase.html" %}
{% block title %}Rooms{% endblock title %}
{% block body %}
    {% include "global/partials/background.html" %}
    <div class="password-container">
        <form method='POST' action="{% url "rooms:rooms_joining" slug %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="password-room-field">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
                <button type="submit">Join</button>
            {% endfor %}
        </form>
    </div>
{% endblock body %}