.message {
    text-align: center;
    font-size: 24px;
    padding: 4px;
    font-family: var(--font-headings);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    padding: 4px 32px;
    width: 100%;
}
.message-info, .message-debug {
    background-color: var(--color-info-light);
    border: 1px solid var(--color-info-dark);
    color: var(--color-info-dark);
}
.message-success {
    background-color: var(--color-success-light);
    border: 1px solid var(--color-success-dark);
    color: var(--color-success-dark);
}

.message-warning {
    background-color: var(--color-warning-light);
    border: 1px solid var(--color-warning-dark);
    color: var(--color-warning-dark);
}

.message-error {
    background-color: var(--color-error-light);
    border: 1px solid var(--color-error-dark);
    color: var(--color-error-dark);
}
